name: Tesher Harmony - Production Deploy

on:
  workflow_run:
    workflows: ["Tesher Harmony - Test Suite"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via ssh
        uses: appleboy/ssh-action@v0.1.6
        with:
          host : ${{ secrets.DEPLOY_SERVER }}
          username : ${{ secrets.DEPLOY_USER }}
          key : ${{ secrets.DEPLOY_KEY }}
          script: |
            echo `whoami`
            echo "---------------- Changing directory to home ----------------"
            cd ~
            echo "---------------- Pulling latest code ----------------"
            cd ssp
            echo "---------------- Installing composer dependencies ----------------"
            git pull origin master
            echo "---------------- Running composer install ----------------"
            composer install --no-dev --optimize-autoloader --no-interaction
            echo "---------------- Installing npm dependencies ----------------"
            npm ci --omit=dev
            echo "---------------- Running migrations ----------------"
            php artisan migrate
            echo "---------------- Clearing caches and optimizing ----------------"
            php artisan config:clear
            php artisan view:clear
            php artisan route:clear
            php artisan cache:clear
            php artisan optimize:clear
            npm run build

            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            php artisan optimize

